* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.banner {
    color :#fff;
    height: auto;
    display: flex;
        flex-direction: column;
        justify-content: center;
    padding-top: 100px;
}

.banner h1 {
    color:transparent;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    background: linear-gradient(to right, #f32170 ,#be421c , #cf23cf , #cc6b33);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 1.4rem;
}

.banner h3 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 8rem;
    text-transform: capitalize;
}

.banner .banner-code {
    font-size: 15 rem;
    font-weight: 900;
}
 
.banner .btn {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 50px 10px 0px 11px;
    padding: 12px 18px;
}

.banner .btn1 {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-right: auto;
}

.banner-button {
    justify-content: flex start;
    padding: 0;
} 

.banner .heading {
    font-style: italic;
    padding: 0px 20 px;
}

body {
    background-color: black;
    font-family: 'montserrat', sans-serif;
}

.box-inner {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;   
}   

.btn {
    cursor: pointer;
}

.btn .active {
    background-color: #fff;
    color: #000;
}

.btn:not(.active) {
    color:#fff;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel {
    border-radius: 20px;
    padding: 0 1%;
    width: 100%;
}

.carousel h1 {
    color: #fff;
    font-size: 1.5 rem;
    margin-left: 20px;
}

.carousel-item {
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer; 
    height: 180px;
    display: flex;
        justify-content: center;
    margin: 0 7px;
    object-fit: fill;
    width: 300px;
}

.carousel img {
    border-radius: 6px;
    height: 190px;
    width: 300px;
}

.carousel-list {
    align-items: center;
    display: flex;
        justify-content: center;
    padding: 0 50px;
    position:absolute;
}

.carousel-slider {
    /* position: relative; */
    align-items: center;
    display: flex;
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.fa {
    align-items: center;
    color:#fff;
    display: flex;
        justify-content: center;
    font-size: 1.1rem;
    margin: 0 15px;
}

.flex {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    padding: 0 1% ;
}

header {
    background-color: black;
    display: flex;
        justify-content:space-between;
    padding: 0px 1.25%;
    width: 100%;
}

.info {
    color: #fff;
}

.inner {
    margin: 0 auto;
    max-height: 100vh;
    width: 100%;
}

.leftnav {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo { 
    text-align: center;
    width: 15%;
}

.logo img {
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 15px;
    width: 140px;
}

main {
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow:scroll;
    position: relative;
    width: 100%;
}

.menu {
    align-items: center;
    display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    width: 100vh;
}

.navbar {
    display: flex;
        justify-content: space-evenly;
    width: 85%;
}

.play {
    color: black;
    margin: 0 5px;
}

.right-nav {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 30%; 
}

.right-nav img {
    border-radius:  5px;
    margin: 10px;
    width: 50px;
}

.right-nav p {
    display: inline;
    font-size: 1rem;
    margin-left: 5px;
}

.togglebtn {
    background-color: transparent;
    border: none;
    color:white;
    display: none;
    font-size: 30px;
    outline: none;
}

ul li {
    color: #fff;
    font-size: 1.2rem;
    justify-content: space-between;
    list-style: none;
    margin-left: auto;
}

.video {
    height: 100vh;
    position: absolute;
        left: 0;
        top: 0;
    width: 100vw;
    z-index: -1;
}

.video video {
    height: 100%;
    object-fit:cover;
    width: 100%;
}


@media only screen and (max-width:1150px) {

    .banner h1 {
        font-size: 3.8 rem;
    }

    .navbar {
        display: none;
        width: 100%;
    }

    .leftnav, .right-nav {
        justify-content: flex-start;
        margin: 20px 0;
        width: 100%;
    }

    .togglebtn {
        color: #fff;
        display: block;
        font-size: 2rem;
        margin-top: 2px; 
        position:absolute;
            right: 20px;
    }
    
    ul li {
        margin-right: 30px;
    }

}


@media only screen and (max-width:786px) {

    .banner { 
        padding: 50px;
    }

    .banner h1 {
        font-size: 2rem;
    }

}

@media only screen and (max-width:550px) {

    .banner h1 {
        font-size: 2rem;
    }
    
    .menu {
        flex-direction: column;
    }
    
    ul li {
        margin-bottom: 10px;    
    }

}
