* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
        flex-direction: column;
    padding-top: 40vh;
    margin-left: 3%;
}

.banner h1 { 
    color:transparent;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #f32170 ,#be421c , #cf23cf , #cc6b33);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner h2 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.banner .banner-code {
    font-size: 15 rem;
    font-weight: 900;
}

.banner .heading {
    font-style: italic;
    padding: 0px 20 px;
}

body {
    background-color: black;
    color:white;
    font-family: 'montserrat', sans-serif;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow:scroll;
    position: relative;
    width: 100%;
}

.box-inner {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;   
}   

button {
    background-color: rgba(255, 255, 255, 0.5);
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin: 25px 20px 15px 0px;
    padding: 10px 20px;
}

button:hover {
    background-color: white;
    color: black;
}

.selection {
    width: 100%;
}

.category h3 {
    color: white;
    font-size: 1.4rem;
    font-weight:600;
    letter-spacing: 1.1px;
    margin-left: 15px;
}

.selection img {
    border-radius: 6px;
    cursor: pointer; 
    height: 180px;
    padding:0px 0px 0px 10px;
    width: 300px;
}

.carousel-list {
    align-items: center;
    display: flex;
        justify-content: center;
    padding: 0 50px;
    position:absolute;
}

.carousel-slider {
    /* position: relative; */
    align-items: center;
    display: flex;
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.fa {
    align-items: center;
    display: flex;
        justify-content: center;
    font-size: 1.1rem;
    margin: 0 15px;
}

.flex {
    display: flex;
        flex-wrap: wrap;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
}

.info {
    color: white;
}

.showcase { 
    min-height: 70vh;
}

.logo img {
    margin: 15px 8rem 0px 2.5rem;
    width: 140px;
}

main {  
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow:scroll;
    position: relative;
    width: 100%;
}

.menu { 
    align-items: center;
    display: flex;
        flex-wrap: wrap;
        gap:32px;
        justify-content:space-around;
    font-weight: 500;
    letter-spacing: 0.4px;
    width:100%;
}

.menu li { 
    cursor:pointer;
    font-size: 1.2rem;
    list-style: none;
}

.catalogue {
    background: linear-gradient(180deg, rgba(0,0,0,0.001)2%, rgba(0,0,0,0.4) 10%, rgba(0,0,0,1)50%);
    margin-top: 15px;
    padding-top:15px;
}

nav { 
    display: flex;
        flex-wrap: wrap;
    width: 85%;
}

.right-nav { 
    align-items: center;
    display: flex;
        justify-content: center;
    margin-left: auto;
    width: 30%; 
}

.right-nav img { 
    border-radius: 6px;
    margin: 6px 10px 2.5px 10px;
    width: 50px;
}

.right-nav span {
    cursor:pointer;
}

.right-nav p {
    display: inline;
    font-size: 1rem;
    margin-left: 5px;
}

.togglebtn {
    display: none;
}

.video {
    height: 100vh;
    position: absolute;
        left: 0;
        top: 0;
    width: 100vw;
    z-index: -1;
}

.video video {
    height: 100%;
    object-fit:cover;
    width: 100%;
}


@media only screen and (max-width:1150px) {

    nav {
        display: none;
        width: 100%;
    }

    .right-nav {
        justify-content: flex-start;
        margin: 20px 0;
        width: 100%;
    }

    .togglebtn {
        display: block;
        font-size: 2rem;
        margin-top: 5px; 
        position:absolute;
            right: 2.5%;
    }
    
}


@media only screen and (max-width:786px) {

    .banner h1 {
        font-size: 2rem;
    }

}

@media only screen and (max-width:550px) {
    
    .menu {
        flex-direction: column;
    }
    
}
