* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color:white;
    font-family: 'montserrat', sans-serif;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow:scroll;
    position: relative;
    width: 100%;
}

button {
    background-color: rgba(255, 255, 255, 0.5);
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin: 25px 20px 15px 0px;
    padding: 10px 20px;
}

button:hover {
    background-color: white;
    color: black;
}

.carousel { 
    align-items: center;
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    height: 210px;
    overflow: scroll;
    width: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.catalogue {
    background: linear-gradient(180deg, rgba(0,0,0,0.001)2%, rgba(0,0,0,0.4) 10%, rgba(0,0,0,1)40%);
    margin-top: 15px;
    padding-top:15px;
}

.category h3 {
    color: white;
    font-size: 1.4rem;
    font-weight:600;
    letter-spacing: 1.1px;
    margin-left: 15px;
}

.fa {
    align-items: center;
    display: flex;
        justify-content: center;
    font-size: 1.1rem;
    margin: 0 15px;
}

.flex {
    display: flex;
        flex-wrap: wrap;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
}

.logo img {
    margin: 15px 8rem 0px 2.5rem;
    width: 140px;
}

main {  
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow:scroll;
    position: relative;
    width: 100%;
}

.menu { 
    align-items: center;
    display: flex;
        flex-wrap: wrap;
        gap:32px;
        justify-content:space-around;
    font-weight: 500;
    letter-spacing: 0.4px;
    width:100%;
}

.menu li { 
    cursor:pointer;
    font-size: 1.2rem;
    list-style: none;
}

nav { 
    display: flex;
        flex-wrap: wrap;
    width: 85%;
}

.right-nav { 
    align-items: center;
    display: flex;
        justify-content: center;
    margin-left: auto;
    width: 30%; 
}

.right-nav img { 
    border-radius: 6px;
    margin: 6px 10px 2.5px 10px;
    width: 50px;
}

.right-nav span {
    cursor:pointer;
}

.selection img {
    border-radius: 6px;
    cursor: pointer; 
    height: 180px;
    padding:0px 0px 0px 10px;
    width: 300px;
}

.showcase { 
    min-height: 70vh;
}

.showcase-title {
    display: flex;
        flex-direction: column;
    padding-top: 40vh;
    margin-left: 2.5%;
}

.showcase-title h1 { 
    color:transparent;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #f32170 ,#be421c , #cf23cf , #cc6b33);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase-title h2 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.togglebtn {
    display: none;
}

.video {
    height: 100vh;
    position: absolute;
        left: 0;
        top: 0;
    width: 100vw;
    z-index: -1;
}

video {
    height: 100%;
    object-fit:cover;
    width: 100%;
}


@media (max-width:1150px) {

    nav {
        display: none;
        width: 100%;
    }

    .togglebtn {
        display: block;
        font-size: 2rem;
        margin-top: 5px; 
        position:absolute;
            right: 2.5%;
    }
    
}


@media (max-width:786px) {

    .showcase-title h1 {
        font-size: 2rem;
    }

}
