* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

a { 
    color:white;
    text-decoration: none;
}

a:visited {
    color:white;
}

body {
    background-color: black;
    color:white;
    font-family: 'montserrat', sans-serif;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    background-color: rgba(255, 255, 255, 0.3);
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 13px 16px 12px 0px;
    height: 52px;
    width: 88px;
}

button:hover {
    background-color: white;
    color: black;
}

.carousel { 
    align-items:first baseline;
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    height: 240px;
    overflow: scroll;
    width: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.catalogue {
    background: linear-gradient(180deg, rgba(0,0,0,0.001)2%, rgba(0,0,0,0.1)5%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,1)30%);
    margin-top: 15px;
    padding-top: 15px;
}

.category h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 0 0 10px 1.5rem;
}

.fa {
    align-items: center;
    display: flex;
        justify-content: center;
    font-size: 1.1rem;
}

.flex {
    display: flex;
        flex-wrap: wrap;
}

figcaption {
    font-weight: 500;
    max-width: 290px;
    text-align: center;
    text-shadow: 0 0 0.5px ghostwhite;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
}

.logo img {
    margin: 12px 8rem 0px 2.5rem;
    width: 140px;
}

main {  
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow:scroll;
    position: relative;
    width: 100%;
}

.menu { 
    align-items: center;
    display: flex;
        flex-wrap:wrap;
        gap:34px;
        justify-content:space-around;
    font-weight: 500;
    letter-spacing: 0.6px;
    width:100%;
}

.menu li { 
    cursor:pointer;
    font-size: 1rem;
    list-style: none;
}

.menu li:active, .menu li:hover {
    text-shadow: 0 0 2px ghostwhite;
}

nav { 
    display: flex;
        flex-wrap: wrap;
    width: 85%;
}

#play-icon {
    font-size: 16px;
    padding-top:4px;
}

#play-button {
    padding-top:4px;
}

.plus {
    font-size: 27.5px;
    font-weight:bolder;
    padding-bottom:0;
    margin-top:-4px;
    margin-bottom:-2.5px;
}

.right-nav { 
    align-items: center;
    display: flex;
        justify-content:space-evenly;
    letter-spacing: 0.5px;
    margin-left: auto;
    width: 30%; 
}

.right-nav img { 
    border-radius: 6px;
    margin: 6px 10px 2.5px 10px;
    width: 50px;
}

.right-nav p {
    text-shadow: 0 0 0.5px ghostwhite;
}

.right-nav span {
    cursor:pointer;
}

.selection img {
    border-radius: 5px;
    cursor: pointer; 
    height: 180px;
    object-fit: fill;
    margin-left:10px;
    width: 280px;
}

.selection img:active, .selection img:hover {
    border: solid ghostwhite 2px;
    transition: ease-in-out;
    transition-duration: 1.1s;
}

.showcase { 
    min-height: 70vh;
}

.showcase-img {
    object-fit: fill;
    margin-left:0.5%;
    width: 180px;
}

.showcase-title {
    display: flex;
        flex-direction: column;
    padding-top: 52vh;
    margin-left: 2.5%;
}

.togglebtn {
    display: none;
}

video { 
    height: 100vh;
    object-fit:cover;
    position: absolute;
        left: 0;
        top: 0;
    width: 100vw;
    z-index: -1;
}


@media (max-width:1150px) {

    nav {
        display: none;
        width: 100%;
    }

    .togglebtn {
        display: block;
        font-size: 2rem;
        margin-top: 8px; 
        position:absolute;
            right: 2%;
    }
    
}


@media (max-width:800px) {

    .logo img {
        margin-left: 2rem;
    }

}
