*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat' ,sans-serif;
}

html{
    font-size: 16px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1% ;

}

.inner{
    max-width: 95%;
    margin: 0 auto ;
    padding: 1%;
    max-height: 100vh;
    /* overflow: scroll; */
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
    max-height: 100vh;
}
.navigation{
    width: 100%;
    background-color: black;

}
.leftnav{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 140px;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;

}
.navbar{
    width: 85%;
    justify-content: flex-start;
}

.logo{
    width: 15%;
    
}
ul li{
    color: #fff;
    list-style: none;
    font-size: 1.2rem;
    margin-left: auto;
    justify-content: space-between;
    
}
.menu{
    width: 100vh;
    align-items: center;
    display: flex;
    justify-content: flex-start;
     flex-wrap: wrap;
     gap: 20px;
}

.right-nav{
    width: 30%; 
    align-items: center;
    margin-left: auto;
    justify-content: center;
}
.right-nav img{
    width: 50px;
    border-radius:  5px;
    margin: 10px;
}

.fa{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 15px;
    font-size: 1.1rem;
}
.right-nav p{
    display: inline;
    margin-left: 5px;
    font-size: 1rem;
}

.banner{


    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color :#fff;
    padding-top: 100px;

}
.banner h1{
    font-size: 5 rem;
    background: linear-gradient(to right, #f32170 ,#be421c , #cf23cf , #cc6b33);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }

.banner h3{
    font-size: 2rem;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: capitalize;

}
.banner .heading{
    font-style: italic;
    padding: 0px 20 px;
}

.banner .banner-code{
    font-size: 15 rem;
    font-weight: 900;

}

.banner-button{
    justify-content: flex start;
    padding: 0;
}
 
.banner .btn{
    padding: 12px 18px;
    font-size: 1 rem;
    margin: 50px 10px 0px 11px;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}

.banner .btn1{
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-right: auto;
}

.play {
    color: black;
    margin: 0 5px;

}

.info
{
    color: #fff;
}

.video-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -6;
    left:0;
    top: 0;

}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.carousel{
    width: 100%;
    border-radius: 20px;
    padding: 0 1%;
 
}

.carousel h1{
    color: #fff;
    font-size: 1.5 rem;
    margin-left: 20px;

}

.box-inner{
    width: 100%;
    position: absolute;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
.carousel-slider{
    /* position: relative; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    padding: 0 5px ;
    overflow: hidden;
}

.carousel-list{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}
.carousel-list{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;

}
.carousel-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 7px;
    object-fit: fill;
    cursor: pointer;
}

.carousel-item img{
    width: 100%;
    height: 180px;
    border-radius: 5px;

}

.togglebtn{
    display: none;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color:white;
}

/* Media Queries */

@media only screen and (max-width:1150px) {
    .banner h1 {
        font-size: 3.8 rem;

    }
    .navbar{
        width: 100%;
        display: none;
    }
.leftnav,.right-nav{
    width: 100%;
    justify-content: flex-start;
    margin: 20px 0;

}

ul li{
    margin-right: 30px;
}

.togglebtn{
    display: block;
    font-size: 2rem;
    color: #fff;
    margin-top: 2px; 
    position:absolute;
    right: 20px;
}
}


@media only screen and (max-width:786px){
    .banner h1{
        font-size: 2rem;
    }

    .banner{
        padding: 50px;
    }
}

@media only screen and (max-width:550px){
    .banner h1{
        font-size: 2rem;
    }
.menu{
    flex-direction: column;
}
ul li{
    margin-bottom: 10px;
}
}

.btn {
    cursor: pointer;
}

.btn.active{
    background-color: #fff;
    color: #000;
}
.btn:not(.active){
    color:#fff;
    background-color: rgba(255, 255, 255, 0.5);
}