*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat' ,sans-serif;
}

html{
    font-size: 16px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1% ;

}

.inner{
    max-width: 95%;
    margin: 0 auto ;
    padding: 1%;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.navigation{
    width: 100%;
    background-color: black;

}
.leftnav{
    width: 70%;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 140px;

}
.navbar{
    width: 50%;
}

.logo{
    width: 15%;
}
ul li{
    color: #fff;
    list-style: none;
    font-size: 1rem;
    margin-left:auto;
    justify-content: space-between;
    
}
.menu{
    width: 100%;
    display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
}

.right-nav{
    width: 30%; 
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.right-nav img{
    width: 50px;
    border-radius:  5px;
    margin: 10px;
}

.fa{
    color: #fff;
    margin: 0 15px;
    font-size: 1.1rem;
}
.right-nav p{
    display: inline;
    margin-left: 5px;
    font-size: 1rem;
}

.banner{


    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color :#fff;
    padding-top: 100px;

}
.banner h1{
    font-size: 5 rem;
    background: linear-gradient(to right, #f32170 ,#be421c , #cf23cf , #cc6b33);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }

.banner h3{
    font-size: 2rem;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: capitalize;

}
.banner .heading{
    font-style: italic;
    padding: 0px 20 px;
}

.banner .banner-code{
    font-size: 15 rem;
    font-weight: 900;

}

.banner-button{
    justify-content: flex start;
    padding: 0;
}
 
.banner .btn{
    padding: 12px 18px;
    font-size: 1 rem;
    margin: 50px 10px 0px 11px;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}

.banner .btn1{
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.play {
    color: black;
    margin: 0 5px;

}

.info
{
    color: #fff;
}

.video-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -6;
    left:0;
    top: 0;

}

.video-container video{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.color-overlay{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.carousel{
    width: 93%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 1%;

}

.carousel h3{
    color: #fff;
    font-size: 1.5 rem;

}

.carousel-slider{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    padding: 0 50px ;
}

.carousel-list{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}
